html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    min-height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: auto;
}

label {
    text-align: left;
}

pre {
    text-align: left;
    font-family: "Roboto Mono", monospace;
    border: 1px solid black;
    border-radius: 10px;
    white-space: pre-wrap;
}